@import './resets';
@import './variables';
@import './maps';

// function
@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

// Mixin
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background-color: lighten($secondary-color, 100%);
        color: darken($main-font-color, 100%);
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content; 
    }
}



body {
    background-color: $secondary-color;
    font-weight: map-get($font-weights, bold);
    color: $primary-color;
    font-family: map-get($font-families, third);
}

.main {
    @include flexCenter(row);
    width: 80%;
    margin: 0 auto;

    h1 {
        text-align: center;
        font-weight: weight(bold);
    }

    #{&}-paragraph {
        font-weight: weight(normal);
        font-size: map-get($font-sizes, normal);

        &:hover {
            color: $main-font-color;
        }
    }

    @include mobile {
        flex-direction: column;
    }
}

.light {
    @include theme($light-theme: false);
}